@font-face {
    font-family: comic-sans;
    src: url(./fonts/comic-sans.ttf);
}
@font-face {
    font-family: consola;
    src: url(./fonts/consola.ttf);
}
@font-face {
    font-family: Opensans;
    src: url(./fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: SourceCode;
    src: url(./fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: iransans;
  src: url(./fonts/IRANSansXNoEn-Regular.ttf);
}
*{
    padding: 0px;
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: SourceCode,Opensans,sans-serif;
    background-color: #000020;
    color: white;
    position: relative;
}

#ScoreShower{
    position: absolute;
    top: 0px;
    left: 20px;
    color: white;
    font-size: 18px;
}

h1{
    text-align: center;
    margin-top: 10px;
}

h2{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}
h2 a{
    color: cyan;
}

h3{
    text-align:center;
}

h3 a{
    color: #00cbd6;
}

   footer{
    background-color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin-top: 70px;
    font-size: 18px;
   }
   footer a{
    color: blue;
   }

   .StartLevelContainerContainer{
    max-width: 450px;
    width: 100%;
    margin: auto;
    margin-top: 20px;
   }

   .StartLevelContainer{
    padding: 30px;
    border-radius: 20px;
    border: 1px solid cyan;
    box-shadow: 0 0 10px cyan;
    height: fit-content;
    background-color:black;
   }

   .ChooseCode , .ChooseDifficulity , #CustomDiff{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
   }

   #CustomDiff span{
    font-size: 18px;
    width: 100%;
    text-align: left;
   }

   #CustomDiff input{
    font-size: 18px;
    display: block;
    width: 100px;
    margin: auto;
    margin-top: 7.5px;
   }

   .ChooseCode span , .ChooseDifficulity span{
    font-size: 25px;
    text-align: left;
    width: 100%;
   }

   .ChooseCode div , .ChooseDifficulity div{
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top: 25px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s all;
    border: none;
   }

   .ChooseCode div.active , .ChooseDifficulity div.active{
    opacity: 1;
    /*
    background-color: #000080;
    color: white;
    box-shadow: 0 0 10px blue;
    */
   }

   .ChooseDifficulity .f{
    width: 100%;
    margin-top: 15px;
   }

   .Info_Play{
    margin-top: 25px;
   }

   .Info_Play span{
    font-size: 20px;
    display: block;
    text-align: center;
    margin-top: 5px;
   }

   .Info_Play button{
    display: block;
    margin: auto;
    margin-top: 15px;
    padding: 10px 25px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px white;
   }

   .PlayContainer{
    margin: auto;
    margin-top: 200px;
    max-width: 1000px;
    width: 100%;
   }

   .PlayContainer .PlayTitle{
    font-size: 22px;
    font-family: comic-sans,sans-serif;
    text-align: center;
    display: block;
   }

   .ColorsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
   }

   .ColorsContainer .ColorShower{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 180px;
    height: 180px;
    border-radius: 30px;
    flex-wrap: wrap;
    flex-direction: column;
    cursor: pointer;
    transition: 0.2s all;
   }

   .ColorsContainer .ColorShower:hover{
    box-shadow: 0 0 10px white;
   }

   .ColorsContainer .ColorShower span{
        width: 100%;
        font-size: 20px;
        text-align: center;
        display: none;
    }

    .EndGameBtns{
        margin-top: 10px;
    }

    .EndGameBtns button{
        display: block;
        margin: auto;
        margin-top: 15px;
        padding: 10px 25px;
        border-radius: 15px;
        border: none;
        font-size: 20px;
        cursor: pointer;
        box-shadow: 0 0 10px white;
    }

    @media only screen and (max-width:750px){
        h1{
            margin-top: 30px;
        }
        #ScoreShower{
            top: -20px;
        }

    }

    @media only screen and (max-width:600px){
        .ColorsContainer .ColorShower{
            height: 140px;
            width: 140px;
        }
        .ColorsContainer .ColorShower span{
            font-size: 18px;
        }
        .PlayContainer .PlayTitle{
            font-size: 18px;
        }

    }

    @media only screen and (max-width:470px){
        .ColorsContainer .ColorShower{
            height: 120px;
            width: 120px;
        }
        .ColorsContainer .ColorShower span{
            font-size: 17px;
        }

    }

    @media only screen and (max-width:412px){
        .ColorsContainer .ColorShower{
            height: 110px;
            width: 110px;
        }
        .ColorsContainer .ColorShower span{
            font-size: 16px;
        }

    }

    @media only screen and (max-width:384px){
        .ColorsContainer .ColorShower{
            height: 100px;
            width: 100px;
        }
        .ColorsContainer .ColorShower span{
            font-size: 14px;
        }
        .ColorsContainer{
            gap: 10px;
        }

    }


    @media only screen and (max-width:374px){
.StartLevelContainer{
    padding: 20px;
}
.ChooseCode div, .ChooseDifficulity div{
    padding: 7px 22px;
    font-size: 18px;
}
h1{
    font-size: 25px;
}
h1{
    margin-top: 40px;
}
#ScoreShower{
    top: -25px;
}

    }


    .HowToPlayContainer{
        max-width: 1200px;
        font-size: 20px;
        background-color: rgb(240, 240, 240);
        margin: auto;
        margin-top: 20px;
        color: black;
        padding: 20px;
        padding-top: 5px;
        border-radius: 20px;
        position: relative;
        font-family: SourceCode,iransans;
        line-height: 33px;
    }

    @media only screen and (max-width:1248px) {
        .HowToPlayContainer{
            margin-left: 15px;
            margin-right: 15px;
        }
    }


    .HowToPlayContainer h2{
        text-align: center;
        font-size: 30px;
    }

    .HowToPlayContainer h4{
        font-size: 22px;
    }

    .HowToPlayContainer p , .HowToPlayContainer li{
        font-size: 18px;
    }


    #FA{
        direction: rtl;
        text-align: right;
    }


    .LanguageSelect{
        position: absolute;
        top: 15px;
        right: 30px;
        width: 75px;
        height: 25px;
        border: 1px solid black;
        border-radius: 10px;
        font-size: 16px;
        display: flex;
        flex-direction: row-reverse;
        overflow: hidden;
    
       }
       .LanguageSelect div{
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content:center;
        cursor: pointer;
        user-select: none;
       }
       .LanguageSelect div:first-child{
        border-left: 1px solid gray;
       }
       .LanguageSelect .activeLang{
        background-color: #bbb;
       }

       
    @media only screen and (max-width:750px) {
        .HowToPlayContainer h2{
            font-size: 25px;
            margin-bottom: 45px;
        }
    
        .HowToPlayContainer h4{
            font-size: 20px;
        }
    
        .HowToPlayContainer p , .HowToPlayContainer li{
            font-size: 16px;
        }
        .LanguageSelect{
            right: unset;
            left: 50%;
            transform: translateX(-50%);
            top: 65px;

        }

        .HowToPlayContainer{
            margin-left: 10px;
            margin-right: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
        }
    }

    @media only screen and (max-width:500px) {
        .HowToPlayContainer h2{
            font-size: 22px;
        }
    
        .HowToPlayContainer h4{
            font-size: 18px;
        }
    
        .HowToPlayContainer p , .HowToPlayContainer li{
            font-size: 15px;
        }
    }

    @media only screen and (max-width:420px) {
        .HowToPlayContainer h2{
            font-size: 19px;
        }
    
        .HowToPlayContainer h4{
            font-size: 16px;
        }
    
        .HowToPlayContainer p , .HowToPlayContainer li{
            font-size: 13px;
        }
    }
